
.center{
   border: 1px solid red;
   padding: 10px;
   margin: 10% 25%;
}

.center >input{
    padding: 10px;
    margin: 10px;
    width: 90%;
}

.btn{
    color: wheat;
    border-radius: 10px;
    border: none;
    background-color: rgb(114, 114, 243);
}

.user{
    color: blue;
    cursor:pointer
}